<?xml version="1.0" encoding="utf-8" ?> 
<config>
	<Global>
		<ArmorMultiplier>2.0</ArmorMultiplier>
		<VolunteerStartTier>2</VolunteerStartTier>
	</Global>
	<OneHandedSword>
		<BluntFactorCut>0.25</BluntFactorCut>
		<BluntFactorPierce>0.50</BluntFactorPierce>
		<BluntFactorBlunt>1.0</BluntFactorBlunt>
		<ArmorThresholdFactorPierce>1</ArmorThresholdFactorPierce>
		<ArmorThresholdFactorCut>1</ArmorThresholdFactorCut>
		<ArmorSkillDamageAbsorb>1.0</ArmorSkillDamageAbsorb>
	</OneHandedSword>
	<TwoHandedSword>
		<BluntFactorCut>0.3</BluntFactorCut>
		<BluntFactorPierce>0.60</BluntFactorPierce>
		<BluntFactorBlunt>1.0</BluntFactorBlunt>
		<ArmorThresholdFactorPierce>1</ArmorThresholdFactorPierce>
		<ArmorThresholdFactorCut>1</ArmorThresholdFactorCut>
		<ArmorSkillDamageAbsorb>1.0</ArmorSkillDamageAbsorb>
	</TwoHandedSword>
	<OneHandedAxe>
		<BluntFactorCut>0.45</BluntFactorCut>
		<BluntFactorPierce>0.3</BluntFactorPierce>
		<BluntFactorBlunt>1.0</BluntFactorBlunt>
		<ArmorThresholdFactorPierce>0.70</ArmorThresholdFactorPierce>
		<ArmorThresholdFactorCut>1</ArmorThresholdFactorCut>
		<ArmorSkillDamageAbsorb>1.0</ArmorSkillDamageAbsorb>
	</OneHandedAxe>
	<TwoHandedAxe>
		<BluntFactorCut>0.5</BluntFactorCut>
		<BluntFactorPierce>0.3</BluntFactorPierce>
		<BluntFactorBlunt>1.0</BluntFactorBlunt>
		<ArmorThresholdFactorPierce>0.70</ArmorThresholdFactorPierce>
		<ArmorThresholdFactorCut>1</ArmorThresholdFactorCut>
		<ArmorSkillDamageAbsorb>1.0</ArmorSkillDamageAbsorb>
	</TwoHandedAxe>
	<OneHandedPolearm>
		<BluntFactorCut>0.30</BluntFactorCut>
		<BluntFactorPierce>0.45</BluntFactorPierce>
		<BluntFactorBlunt>1.0</BluntFactorBlunt>
		<ArmorThresholdFactorPierce>2.25</ArmorThresholdFactorPierce>
		<ArmorThresholdFactorCut>1.5</ArmorThresholdFactorCut>
		<ArmorSkillDamageAbsorb>1.0</ArmorSkillDamageAbsorb>
	</OneHandedPolearm>
	<TwoHandedPolearm>
		<BluntFactorCut>0.30</BluntFactorCut>
		<BluntFactorPierce>0.50</BluntFactorPierce>
		<BluntFactorBlunt>1.0</BluntFactorBlunt>
		<ArmorThresholdFactorPierce>2.5</ArmorThresholdFactorPierce>
		<ArmorThresholdFactorCut>1.5</ArmorThresholdFactorCut>
		<ArmorSkillDamageAbsorb>1.0</ArmorSkillDamageAbsorb>
	</TwoHandedPolearm>
	<Mace>
		<BluntFactorCut>0.1</BluntFactorCut>
		<BluntFactorPierce>0.1</BluntFactorPierce>
		<BluntFactorBlunt>1.0</BluntFactorBlunt>
		<ArmorThresholdFactorPierce>1.0</ArmorThresholdFactorPierce>
		<ArmorThresholdFactorCut>1.0</ArmorThresholdFactorCut>
		<ArmorSkillDamageAbsorb>1.0</ArmorSkillDamageAbsorb>
	</Mace>
	<TwoHandedMace>
		<BluntFactorCut>0.1</BluntFactorCut>
		<BluntFactorPierce>0.1</BluntFactorPierce>
		<BluntFactorBlunt>1.0</BluntFactorBlunt>
		<ArmorThresholdFactorPierce>1.0</ArmorThresholdFactorPierce>
		<ArmorThresholdFactorCut>1.0</ArmorThresholdFactorCut>
		<ArmorSkillDamageAbsorb>1.0</ArmorSkillDamageAbsorb>
	</TwoHandedMace>
	<Arrow>
		<BluntFactorCut>0.07</BluntFactorCut>
		<BluntFactorPierce>0.15</BluntFactorPierce>
		<BluntFactorBlunt>1.0</BluntFactorBlunt>
		<ArmorThresholdFactorPierce>1.2</ArmorThresholdFactorPierce>
		<ArmorThresholdFactorCut>1.5</ArmorThresholdFactorCut>
		<ArmorSkillDamageAbsorb>1.0</ArmorSkillDamageAbsorb>
	</Arrow>
	<Bolt>
		<BluntFactorCut>0.1</BluntFactorCut>
		<BluntFactorPierce>0.20</BluntFactorPierce>
		<BluntFactorBlunt>1.0</BluntFactorBlunt>
		<ArmorThresholdFactorPierce>1.2</ArmorThresholdFactorPierce>
		<ArmorThresholdFactorCut>1</ArmorThresholdFactorCut>
		<ArmorSkillDamageAbsorb>1.0</ArmorSkillDamageAbsorb>
	</Bolt>
	<Javelin>
		<BluntFactorCut>0.1</BluntFactorCut>
		<BluntFactorPierce>0.15</BluntFactorPierce>
		<BluntFactorBlunt>1.0</BluntFactorBlunt>
		<ArmorThresholdFactorPierce>3.0</ArmorThresholdFactorPierce>
		<ArmorThresholdFactorCut>1</ArmorThresholdFactorCut>
		<ArmorSkillDamageAbsorb>1.0</ArmorSkillDamageAbsorb>
	</Javelin>
	<ThrowingAxe>
		<BluntFactorCut>0.5</BluntFactorCut>
		<BluntFactorPierce>0.15</BluntFactorPierce>
		<BluntFactorBlunt>1.0</BluntFactorBlunt>
		<ArmorThresholdFactorPierce>1</ArmorThresholdFactorPierce>
		<ArmorThresholdFactorCut>1</ArmorThresholdFactorCut>
		<ArmorSkillDamageAbsorb>1.0</ArmorSkillDamageAbsorb>
	</ThrowingAxe>	
</config>