<?xml version="1.0" encoding="utf-8" ?> 
<config>
		<!-- Set ArmorPenetrationMessage to 0 in order to disable blunt trauma and armor penetration message, set it to 1 to enable these messages -->
		<!-- 1-Troop Overhaul Active || 0-Troop Overhaul Inactive -->
	<Global>
		<ArmorMultiplier>2.0</ArmorMultiplier>
		<OneHandedThrustBonus>3.34</OneHandedThrustBonus>
		<TwoHandedThrustBonus>3.34</TwoHandedThrustBonus>
		<ArmorPenetrationMessage>0</ArmorPenetrationMessage>
		<ThrustModifier>0.3</ThrustModifier>
		<TroopOverhaulActive>1</TroopOverhaulActive>
	</Global>
		<!-- Armor works like this -->
		<!-- Damage that penetrates armor = damage caused by the weapon - (armor of body part * ExtraArmorThresholdFactor)-->
		<!-- Blunt trauma = 100 / 100 + damage absorbed by armor (based on above calculation) * ExtraBluntFactor * ArmorMultiplier -->	
	<Dagger>
		<ExtraBluntFactorCut>0.15</ExtraBluntFactorCut>
		<ExtraBluntFactorPierce>0.30</ExtraBluntFactorPierce>
		<ExtraBluntFactorBlunt>1.0</ExtraBluntFactorBlunt>
		<ExtraArmorThresholdFactorPierce>2.5</ExtraArmorThresholdFactorPierce>
		<ExtraArmorThresholdFactorCut>4</ExtraArmorThresholdFactorCut>
		<ExtraArmorSkillDamageAbsorb>1.0</ExtraArmorSkillDamageAbsorb>
	</Dagger>
	
	<ThrowingKnife>
		<ExtraBluntFactorCut>0.15</ExtraBluntFactorCut>
		<ExtraBluntFactorPierce>0.2</ExtraBluntFactorPierce>
		<ExtraBluntFactorBlunt>1.0</ExtraBluntFactorBlunt>
		<ExtraArmorThresholdFactorPierce>2.5</ExtraArmorThresholdFactorPierce>
		<ExtraArmorThresholdFactorCut>4</ExtraArmorThresholdFactorCut>
		<ExtraArmorSkillDamageAbsorb>1.0</ExtraArmorSkillDamageAbsorb>
	</ThrowingKnife>
	
	<OneHandedSword>
		<ExtraBluntFactorCut>0.15</ExtraBluntFactorCut>
		<ExtraBluntFactorPierce>0.25</ExtraBluntFactorPierce>
		<ExtraBluntFactorBlunt>1.0</ExtraBluntFactorBlunt>
		<ExtraArmorThresholdFactorPierce>2.5</ExtraArmorThresholdFactorPierce>
		<ExtraArmorThresholdFactorCut>4</ExtraArmorThresholdFactorCut>
		<ExtraArmorSkillDamageAbsorb>1.0</ExtraArmorSkillDamageAbsorb>
	</OneHandedSword>
	
	<TwoHandedSword>
		<ExtraBluntFactorCut>0.25</ExtraBluntFactorCut>
		<ExtraBluntFactorPierce>0.40</ExtraBluntFactorPierce>
		<ExtraBluntFactorBlunt>1.0</ExtraBluntFactorBlunt>
		<ExtraArmorThresholdFactorPierce>2.5</ExtraArmorThresholdFactorPierce>
		<ExtraArmorThresholdFactorCut>4</ExtraArmorThresholdFactorCut>
		<ExtraArmorSkillDamageAbsorb>1.0</ExtraArmorSkillDamageAbsorb>
	</TwoHandedSword>
	
	<OneHandedBastardAxe>
		<ExtraBluntFactorCut>0.25</ExtraBluntFactorCut>
		<ExtraBluntFactorPierce>0.3</ExtraBluntFactorPierce>
		<ExtraBluntFactorBlunt>1.0</ExtraBluntFactorBlunt>
		<ExtraArmorThresholdFactorPierce>0.70</ExtraArmorThresholdFactorPierce>
		<ExtraArmorThresholdFactorCut>4</ExtraArmorThresholdFactorCut>
		<ExtraArmorSkillDamageAbsorb>1.0</ExtraArmorSkillDamageAbsorb>
	</OneHandedBastardAxe>
	
	<OneHandedAxe>
		<ExtraBluntFactorCut>0.25</ExtraBluntFactorCut>
		<ExtraBluntFactorPierce>0.3</ExtraBluntFactorPierce>
		<ExtraBluntFactorBlunt>1.0</ExtraBluntFactorBlunt>
		<ExtraArmorThresholdFactorPierce>0.70</ExtraArmorThresholdFactorPierce>
		<ExtraArmorThresholdFactorCut>4</ExtraArmorThresholdFactorCut>
		<ExtraArmorSkillDamageAbsorb>1.0</ExtraArmorSkillDamageAbsorb>
	</OneHandedAxe>	
	
	<TwoHandedAxe>
		<ExtraBluntFactorCut>0.30</ExtraBluntFactorCut>
		<ExtraBluntFactorPierce>0.3</ExtraBluntFactorPierce>
		<ExtraBluntFactorBlunt>1.0</ExtraBluntFactorBlunt>
		<ExtraArmorThresholdFactorPierce>0.70</ExtraArmorThresholdFactorPierce>
		<ExtraArmorThresholdFactorCut>4</ExtraArmorThresholdFactorCut>
		<ExtraArmorSkillDamageAbsorb>1.0</ExtraArmorSkillDamageAbsorb>
	</TwoHandedAxe>
	
	<OneHandedPolearm>
		<ExtraBluntFactorCut>0.2</ExtraBluntFactorCut>
		<ExtraBluntFactorPierce>0.3</ExtraBluntFactorPierce>
		<ExtraBluntFactorBlunt>1.0</ExtraBluntFactorBlunt>
		<ExtraArmorThresholdFactorPierce>4.0</ExtraArmorThresholdFactorPierce>
		<ExtraArmorThresholdFactorCut>4</ExtraArmorThresholdFactorCut>
		<ExtraArmorSkillDamageAbsorb>1.0</ExtraArmorSkillDamageAbsorb>
	</OneHandedPolearm>
	
	<TwoHandedPolearm>
		<ExtraBluntFactorCut>0.30</ExtraBluntFactorCut>
		<ExtraBluntFactorPierce>0.35</ExtraBluntFactorPierce>
		<ExtraBluntFactorBlunt>1.0</ExtraBluntFactorBlunt>
		<ExtraArmorThresholdFactorPierce>4.0</ExtraArmorThresholdFactorPierce>
		<ExtraArmorThresholdFactorCut>4</ExtraArmorThresholdFactorCut>
		<ExtraArmorSkillDamageAbsorb>1.0</ExtraArmorSkillDamageAbsorb>
	</TwoHandedPolearm>
	
	<Mace>
		<ExtraBluntFactorCut>0.1</ExtraBluntFactorCut>
		<ExtraBluntFactorPierce>0.1</ExtraBluntFactorPierce>
		<ExtraBluntFactorBlunt>1.0</ExtraBluntFactorBlunt>
		<ExtraArmorThresholdFactorPierce>1.0</ExtraArmorThresholdFactorPierce>
		<ExtraArmorThresholdFactorCut>1.0</ExtraArmorThresholdFactorCut>
		<ExtraArmorSkillDamageAbsorb>1.0</ExtraArmorSkillDamageAbsorb>
	</Mace>
	
	<TwoHandedMace>
		<ExtraBluntFactorCut>0.1</ExtraBluntFactorCut>
		<ExtraBluntFactorPierce>0.1</ExtraBluntFactorPierce>
		<ExtraBluntFactorBlunt>1.0</ExtraBluntFactorBlunt>
		<ExtraArmorThresholdFactorPierce>1.0</ExtraArmorThresholdFactorPierce>
		<ExtraArmorThresholdFactorCut>1.0</ExtraArmorThresholdFactorCut>
		<ExtraArmorSkillDamageAbsorb>1.0</ExtraArmorSkillDamageAbsorb>
	</TwoHandedMace>
	
	<Arrow>
		<ExtraBluntFactorCut>0.05</ExtraBluntFactorCut>
		<ExtraBluntFactorPierce>0.05</ExtraBluntFactorPierce>
		<ExtraBluntFactorBlunt>1.0</ExtraBluntFactorBlunt>
		<ExtraArmorThresholdFactorPierce>2.0</ExtraArmorThresholdFactorPierce>
		<ExtraArmorThresholdFactorCut>2.6</ExtraArmorThresholdFactorCut>
		<ExtraArmorSkillDamageAbsorb>1.0</ExtraArmorSkillDamageAbsorb>
	</Arrow>
	
	<Bolt>
		<ExtraBluntFactorCut>0.05</ExtraBluntFactorCut>
		<ExtraBluntFactorPierce>0.05</ExtraBluntFactorPierce>
		<ExtraBluntFactorBlunt>1.0</ExtraBluntFactorBlunt>
		<ExtraArmorThresholdFactorPierce>2.2</ExtraArmorThresholdFactorPierce>
		<ExtraArmorThresholdFactorCut>2.8</ExtraArmorThresholdFactorCut>
		<ExtraArmorSkillDamageAbsorb>1.0</ExtraArmorSkillDamageAbsorb>
	</Bolt>
	
	<Javelin>
		<ExtraBluntFactorCut>0.05</ExtraBluntFactorCut>
		<ExtraBluntFactorPierce>0.15</ExtraBluntFactorPierce>
		<ExtraBluntFactorBlunt>1.0</ExtraBluntFactorBlunt>
		<ExtraArmorThresholdFactorPierce>4.0</ExtraArmorThresholdFactorPierce>
		<ExtraArmorThresholdFactorCut>3.0</ExtraArmorThresholdFactorCut>
		<ExtraArmorSkillDamageAbsorb>1.0</ExtraArmorSkillDamageAbsorb>
	</Javelin>
	
	<ThrowingAxe>
		<ExtraBluntFactorCut>0.3</ExtraBluntFactorCut>
		<ExtraBluntFactorPierce>0.15</ExtraBluntFactorPierce>
		<ExtraBluntFactorBlunt>1.0</ExtraBluntFactorBlunt>
		<ExtraArmorThresholdFactorPierce>1</ExtraArmorThresholdFactorPierce>
		<ExtraArmorThresholdFactorCut>4.0</ExtraArmorThresholdFactorCut>
		<ExtraArmorSkillDamageAbsorb>1.0</ExtraArmorSkillDamageAbsorb>
	</ThrowingAxe>	
</config>