<?xml version="1.0" encoding="utf-8" ?> 
<config>
<!-- Set to 1 if you want to experience siege towers in their full "glory". -->
	<Global>
		<SiegeTowersEnabled>1</SiegeTowersEnabled>
		<PostureEnabled>1</PostureEnabled>
		<PlayerPostureMultiplier>0</PlayerPostureMultiplier>
		<PostureGUIEnabled>1</PostureGUIEnabled>
		<VanillaCombatAi>0</VanillaCombatAi>
	</Global>
</config>